JUPYTER NOTEBOOK FINAL PROJECT

Little Lemon is a family-owned Mediterranean restaurant. They are developing a Python-based application that needs to connect with the MySQL database so that the booking, menu and orders data can be stored in the respective tables. 

The restaurant owner wants to use the stored data to make data-driven decisions to increase their revenue. Establishing a database is one of their key objectives.

Step 1: Establish a connection 

Open a new Jupyter notebook and import the MySQL Connector/Python API to establish a connection between Python and MySQL database.

In [2]:
#Checking if mysql-connector is installed
print("mysql-connector is present")
!pip show mysql-connector

mysql-connector is present
Name: mysql-connector
Version: 2.2.9
Summary: MySQL driver written in Python
Home-page: http://dev.mysql.com/doc/connector-python/en/index.html
Author: Oracle and/or its affiliates
Author-email:
License: GNU GPLv2 (with FOSS License Exception)
Location: c:\users\violet\appdata\local\programs\python\python310\lib\site-packages
Requires:
Required-by:

In [2]:
#STEP 1: ESTABLISHING A CONNECTION

# Importing mysql-connector for use 
# I had to use the 'auth_plugin' argument, because I altered my MySQL password 
# to the native one so that it wold coonect with my VS code, otherwise it kept throwing an error
import mysql.connector as connector
connection = connector.connect (user="violet",password ="greenin2023", host ="localhost", 
    port=3306, auth_plugin='mysql_native_password')
print("Connection is established")

Connection is established

Step 2: Create a cursor

Once the connection between Python and MySQL database is successfully established,create a cursor object

In [3]:
#STEP 2: CREATINGING A CURSOR

cursor = connection.cursor()
print("Cursor object is created")

Cursor object is created

Step 3: Create the database and set it for use

In [5]:
#STEP 3: CREATING A DATABASE & SET IT FOR USE

#Creating the database
cursor.execute("create database if not exists little_lemon_db")
print("Database created")

Database created

In [4]:
#Accessing the database for use
cursor.execute("USE little_lemon_db")
print("The database in use is ", connection.database)

The database in use is  little_lemon_db

Step 4: Create tables so that I can insert the data.

In [39]:
#STEP 4: CREATING TABLES

#Query to create MenuItems table
create_menuitem_table = """CREATE TABLE IF NOT EXISTS MenuItems (ItemID INT AUTO_INCREMENT,Name VARCHAR(200),
Type VARCHAR(100),Price INT,PRIMARY KEY (ItemID));"""

#Query to create Menu table
create_menus_table = """CREATE TABLE IF NOT EXISTS Menus (MenuID INT,ItemID INT,Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID));"""

#Query to create Bookings table
create_bookings_table = """CREATE TABLE IF NOT EXISTS Bookings (BookingID INT AUTO_INCREMENT,TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,GuestLastName VARCHAR(100) NOT NULL,BookingSlot TIME NOT NULL,
EmployeeID INT,PRIMARY KEY (BookingID));"""

#query to create Orders table
create_orders_table = """CREATE TABLE IF NOT EXISTS Orders (OrderID INT,TableNo INT,MenuID INT,BookingID INT,
BillAmount INT,Quantity INT,PRIMARY KEY (OrderID,TableNo));"""

#Query to create Employees table
create_employees_table = """CREATE TABLE IF NOT EXISTS Employees (EmployeeID INT AUTO_INCREMENT, Name VARCHAR(200),
Role VARCHAR(100), Address VARCHAR(150),Contact_Number INT,Email VARCHAR(50),Annual_Salary VARCHAR(50), 
PRIMARY KEY(EmployeeID));"""

#Creating MenuItems table
cursor.execute(create_menuitem_table)
print ("MenuItems table created")

#Creating Menus table
cursor.execute(create_menus_table)
print("Menus table created")

#Creating Bookings table
cursor.execute(create_bookings_table)
print("Bookings table created")

#Creating Orders table
cursor.execute(create_orders_table)
print ("Orders table created")

#Creating Employees table
cursor.execute(create_employees_table)
print ("Employees table created")

MenuItems table created
Menus table created
Bookings table created
Orders table created
Employees table created

In [41]:
#Showing created tables
cursor.execute("show tables;")
for table in cursor:
    print(table)

('bookings',)
('employees',)
('menuitems',)
('menus',)
('orders',)

Step 5: Insert data

The tables are ready for me to insert the data.

In [40]:
#STEP 5: INSERTING DATA

#Query to populate MenuItems table
insert_menuitems=""" INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#Query to populate Menus table
insert_menu=""" INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#Query to populate Bookings table
insert_bookings="""INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#Query to populate Orders table
insert_orders="""INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#Query to populate Employees table
insert_employees = """
INSERT INTO employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

#Populating MenuItems table
cursor.execute(insert_menuitems)
connection.commit()
print("MenuItems table populated")

#Populating MenuItems table
cursor.execute(insert_menu)
connection.commit()
print ("MenuItems table populated")

#Populating Bookings table
cursor.execute(insert_bookings)
connection.commit()
print ("Bookings table populated")

#Populating Orders table
cursor.execute(insert_orders)
connection.commit()
print("Orders table populated")

#Populating Employees table
cursor.execute(insert_employees)
connection.commit()
print("Employees table populated")

MenuItems table populated
MenuItems table populated
Bookings table populated
Orders table populated
Employees table populated

Step 6: Connection Pooling

Import MySQLConnectionPool

Import Error

Establish a connection Create a pool named pool_a with two connections. Use a try-except block to handle any possible errors

In [4]:
#STEP 6: CREATE A POOL WITH 2 CONNECTIONS & ESTABLISH A CONNECTION

#import MySQLConnectionPool & Error
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error 
#defining databse configuration
dbconfig={"database":"little_lemon_db", "user":"violet", "password":"greenin2023", "host":"localhost", 
    "port" : 3306, "auth_plugin":"mysql_native_password"}
#Establishing a connection pool [pool_name = pool_a] with two connections while 
#implementing error handling using a try-except block in case the connection fails
try:
    pool1=MySQLConnectionPool(pool_name="pool_a",pool_size=2, **dbconfig)
    print("The connection pool is created with a name: ",pool1.pool_name)
    print("The pool size is:",pool1.pool_size)
    
except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with a name:  pool_a
The pool size is: 2

In [7]:
#obtaining  a connection from pool_a & creating a cursor object to communicate with the database
connection1 = pool1.get_connection()
print("Getting a connection from pool1, please be patient")
 
print ("Be aware a user with connection id {} is connected to the database." .format(connection1.connection_id))
db_Info = connection1.get_server_info()
print("MySQL server version is:", db_Info)

# Create cursor object 
cursor = connection1.cursor()
print("cursor object created")
#closing connection
connection1.close()
print("Connection1 is closed")

Getting a connection from pool1, please be patient
Be aware a user with connection id 386 is connected to the database.
MySQL server version is: 8.0.32
cursor object created
Connection1 is closed

Step 7: Implement a stored procedure called PeakHours

Write a SQL CREATE PROCEDURE query for PeakHours
 - Use HOUR to extract the hour part from the BookingSlot.

 - Use COUNT on hour to count the number of bookings.

 - Use GROUP BY on booking hour.

 - Use ORDER BY on the number of bookings in descending order.

In [14]:
#STEP 7: IMPLEMENT A STORED PROCEDURE CALLED PeakHours

#creating a stored procedure called PeakHours
peak_hour_query= """create procedure if not exists PeakHours()
begin
select hour(BookingSlot) AS BookingHour, count(hour(BookingSlot)) as NumberOfBookings from Bookings
group by BookingHour order by NumberOfBookings desc;
end"""
#executing query
cursor.execute(peak_hour_query)
#call the stored procedure
cursor.callproc("PeakHours")
#getting the results
results = next(cursor.stored_results())
dataset= results.fetchall()

#Retrieve column names 
for column_id in cursor.stored_results():
       columns = [column[0] for column in column_id.description]

#printing column names:
print(columns)

#printing data
for data in dataset:
   print(data)

['BookingHour', 'NumberOfBookings']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

Step 8: Implement a stored procedure GuestStatus

Write a SQL CREATE PROCEDURE query for GuestStatus.

 - Combine the guest’s first and last name from the booking column using CONCAT. 

 - Use CASE to implement the following statuses for each guest’s order:

         - If the Role in the Employee table is Manager or Assistant Manager then the guest’s order status is Ready to pay

         - If the Role in the Employee table is Head Chef then the status is Ready to serve

         - If the Role in the Employee table is Assistant Chef then the status is Preparing Order

         - If the Role in the Employee table is Head Waiter then the status is Order served

In [13]:
#STEP 8: IMPLEMENT A STORED PROCEDURE CALLED GuestStatus

#Creating a stored procedure called GuestStatus 
guest_status_query = """ create procedure if not exists GuestStatus()
begin
select concat(Bookings.GuestFirstName,' ', Bookings.GuestLastName) as GuestName, 
case
when Role in ("Manager", "Assistant Manager") then "Ready to Pay"
when Role in ("Assistant Chef") then "Preparing Order"
when Role in ("Head Waiter") then "Order Served"
else "Not Ordered Yet"
end as "Guest Order Status"
from Bookings left join Employees on Bookings.EmployeeID = Employees.EmployeeID;
end
"""
#Running the stored procedure query by invoking execute module on the cursor.
cursor.execute(guest_status_query)

#Invoking callproc to call the stored procedure.
cursor.callproc("GuestStatus")

#Fetching the results in a variable called dataset.
results = next(cursor.stored_results())
dataset = results.fetchall()

#Extracting the names of the columns.
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]

#Printing the names of the columns.
print(columns)

#Print the sorted data using for loop.
for data in dataset:
    print (data)

['GuestName', 'Guest Order Status']
('Anna Iversen', 'Ready to Pay')
('Joakim Iversen', 'Ready to Pay')
('Vanessa McCarthy', 'Not Ordered Yet')
('Marcos Romero', 'Preparing Order')
('Hiroki Yamane', 'Ready to Pay')
('Diana Pinto', 'Order Served')